__pycache__/
venv/
.env
*.pyc
*.pyo
*.pyd
*.sqlite3
.DS_Store
.idea/
.vscode/
# Byte-compiled / optimized / DLL files
*.py[cod]
# C extensions
*.so
# Test and coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
# Jupyter Notebook checkpoints
.ipynb_checkpoints
# Local env files
.env

venv/